<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>330343621662-fr8uc8tkk7vh8h5tlst3pf2na293eap8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.330343621662-fr8uc8tkk7vh8h5tlst3pf2na293eap8</string>
	<key>API_KEY</key>
	<string>AIzaSyDnpTYL_JiG3mZgxMISO9-2dDxuQu2DBxM</string>
	<key>GCM_SENDER_ID</key>
	<string>330343621662</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adaigosia.najlepszeSushiWroclaw</string>
	<key>PROJECT_ID</key>
	<string>sushi-wroclaw-69</string>
	<key>STORAGE_BUCKET</key>
	<string>sushi-wroclaw-69.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:330343621662:ios:4e122a64acdc63d1dd3a0f</string>
</dict>
</plist>